*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
}
header{
  font-size: 50px;
  color:#ffffff;
  margin:20px;
  text-align: center;
  text-shadow: black 0 0 0.05em;
}
main{
  width: 800px;
  margin:auto;
}



/* look, dimensioni e posizioni tessere*/
.card{
  width:180px;
  height: 200px;
  border-radius: 15px;
  display:inline-block;
  background-color: #ffffff;
  margin: 8px;
  box-shadow: black 0 0 0.2em;
  position: relative;
}
.pattern{
  width: 180px;
  height: 200px;
  border-radius: 15px;
  background-image: url(../img/pattern.png);
  background-size: contain;
}
.row{
  margin-bottom: 15px;
}
.card img:first-of-type{
  width: 75%;
  position: absolute;
  left: 15%;
  top: 10%;
  }
.text{
  position:absolute;
  bottom: 10px;
  width: 180px;
}
.card h2{
  color: #e61986;
  text-align: center;
  font-size: 30px;
  text-shadow: black 0 0 0.05em;
}
/* /look, dimensioni e posizioni tessere*/



footer{
  text-align: center;
}



/* hover */
.card_content{
  display: none;
}
.special{
  display: block;
}
.card:hover .text > h2{
  color: #e67919;
}
.card:hover .pattern{
  display: none;
}
.card:hover .card_content{
  display:block;
}
/* /hover */
